*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg,rgba(79, 231, 79, 0.845),rgba(172, 97, 172, 0.607));
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 40px;
    color: white;
    text-align: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search input{
    border-radius: 30px;
    padding-left: 25px;
    margin-right: 10px;
    height: 60px;
    width: 250px;
    font-size: 20px;
    outline: 0;
    border: 0;
    color: grey;
}
.search button{
    border-radius: 50%;
    outline: 0;
    border: 0;
    height: 60px;
    width: 60px;
    cursor: pointer;
    padding: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}
.search button img{
    width: 20px;
    height: 20px;
}
.weather-icon{
    width: 150px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 15px;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 20px;
    gap: 20px;
}
.column{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.column img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -10px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}